<!DOCTYPE html>
<html lang="en">
    
<!-- Head Section: Meta tags, title, CSS links -->
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
       
<!-- Main Content Area -->
        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>
